* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    max-height: 100vh;
    display: flex;
    margin: 40px;
    
    
}
.header a  {

    text-decoration: none;
    font-size: 20px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    
}
.header {
    margin-bottom: 30px;
}
.main h2 {
    color: white;
    font-size: 40PX;
    font-weight: 200;
    
    
}
.footer ul {
    display: flex;

    
}
.footer li {
    margin-right: 30px;
    
}
.footer a {
    text-decoration: none;
    color: red;
    font-size: 20px;
}


.main {
    margin-bottom: 250px;
}
.header span {
    color: red;

}
.empire-container {
    background-color: black;
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 50%;
    padding-top: 50px;
    padding-left: 120px;
    padding-bottom: 120px;
    padding-right: 120px;
}
.signup-container {
    height: 100vh;
    width: 50%;
    padding-top: 120px;
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 40px;
    
    

}
.form-field input {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid gray;
    padding: 10px 40px;
    font-size: 18px;
    line-height: 1.5;

    
}
.form-field {
    margin-bottom: 10px;
    
}
.footer-signup {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    
}
.footer-signup button {
    padding: 10px 30px;
    color: white;
    border-radius: 15px;
    background-color: red;
    border: 0;
    cursor: pointer;
}
.footer-signup a {
    color: grey;
}
.form-field label {
    color: lightgrey
}